.interactiveSection
  position: relative
  min-height: 164px

.interactiveSection__scale
  position: absolute
  left: 23px
  bottom: 0
  width: 40px
  height: 146px
  background: url("/src/img/scale.png") no-repeat center/cover
  box-shadow: 0 6px 6px -3px #080b3a

.interactiveSection__scaleImg
  position: relative
  left: 4px
  height: 100%
  z-index: 100

.interactiveSection__scaleLevel
  position: absolute
  bottom: 3px
  left: 3px
  right: 3px
  border-radius: 2px
  background: #00d355
  z-index: 10
  &:before
    content: ''
    position: absolute
    width: 48px
    height: 3px
    top: 0
    left: -7px
    border-radius: 2px
    background: #fff

.interactiveSection__inner
  width: 172px
  margin: 0 auto
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

.interactiveSection__btnImg
  width: 124px
  height: 70px
  margin-bottom: 10px
  background: url("img/button.png") no-repeat center/contain
  transition-delay: $animationTime / 2

.interactiveSection__btnImg_active
  transition-delay: $animationTime
  @extend .interactiveSection__btnImg
  background: url("img/button_active.png") no-repeat center/contain

.interactiveSection__text
  text-align: center
  &:last-of-type
    margin-bottom: 13px

.interactiveSection__text_onWIn
  @extend .interactiveSection__text
  &:first-of-type
    margin-top: -10px
  &:last-of-type
    position: relative
    width: 110%
    margin-bottom: 23px
    &:after
      content: 'Рубин'
      position: absolute
      left: 50%
      bottom: -16px
      transform: translateX(-50%)
      color: #f00

.interactiveSection__interactiveBtn
  width: 100%
  padding: 10px 0
  border: 1px solid #fff
  border-radius: 4px
  outline: none
  background: #ff42e0
  text-align: center
  text-transform: uppercase
  font-family: 'Roboto', sans-serif
  font-size: 14px
  font-weight: 700
  color: #fff
  box-shadow: 0 6px 6px -3px #080b3a
  transition: $animationTime
  &:hover
    cursor: pointer
    opacity: .8

.interactiveSection__interactiveBtn_active
  @extend .interactiveSection__interactiveBtn
  background: #ffdf35
  color: #bb20a2

.interactiveSection__interactiveBtn_inactive
  @extend .interactiveSection__interactiveBtn
  display: none

.interactiveSection__hammerImg
  width: 35%
  position: absolute
  top: -40px
  right: 50px
  transform: rotate(-45deg)
  transition: $animationTime ease-in

.interactiveSection__hammerImg_active
  @extend .interactiveSection__hammerImg
  top: -80px
  right: 20px
  transform: none

.interactiveSection__hammerImg_hit
  @extend .interactiveSection__hammerImg
  top: -60px
  right: 85px
  transform: rotate(-90deg)

.interactiveSection__robotImg
  position: absolute
  width: 70px
  height: 85px
  right: 13px
  bottom: 0
  background: url("img/robot_1.png") no-repeat center/contain
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 10px
    box-shadow: 0 6px 6px -3px #080b3a

.interactiveSection__robotImg_active
  @extend .interactiveSection__robotImg
  background: url("img/robot_2.png") no-repeat center/contain

.interactiveSection__robotImg_onWin
  @extend .interactiveSection__robotImg
  width: 83px
  right: 7px
  background: url("img/robot_3.png") no-repeat center/contain
  &:after
    left: 6px
    right: 6px