@charset "UTF-8";
* {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
}

p, h1, h2 {
  margin: 0;
}

.gameWrapper {
  background: url("img/bg_top.png") no-repeat center/cover;
  width: 360px;
  height: 640px;
  margin: 0 auto;
  padding-top: 105px;
}

.measureSection {
  background: url("img/measure_main.png") no-repeat center/contain;
  width: 75%;
  height: 60%;
  margin: 0 auto 10px;
}

.measureSection__inner {
  width: 73px;
  height: 100%;
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.measureSection__diamond, .measureSection__diamond_winEffect {
  position: relative;
  width: 100%;
  height: 47px;
  background: linear-gradient(180deg, #b676cb, rgba(255, 255, 255, 0));
  border-radius: 4px 4px 0 0;
  text-align: center;
}

.measureSection__diamond_winEffect {
  background: linear-gradient(180deg, #ff9494, #ff0101);
}

.measureSection__diamondImg {
  position: relative;
  z-index: 100;
}

.winEffect, .winEffect_active {
  position: absolute;
  display: none;
  width: 123px;
  height: 123px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.winEffect_active {
  display: block;
}

.measureSection__scaleItem, .measureSection__scaleItem_active {
  position: relative;
  align-self: stretch;
}
.measureSection__scaleItem:before, .measureSection__scaleItem_active:before {
  content: "";
  position: absolute;
  height: 3px;
  top: 2px;
  left: 1px;
  right: 2px;
  background: #fff;
  opacity: 0.3;
}
.measureSection__scaleItem:after, .measureSection__scaleItem_active:after {
  content: "";
  position: absolute;
  width: 3px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  background: #fff;
  opacity: 0.3;
}
.measureSection__scaleItem:nth-of-type(2), .measureSection__scaleItem_active:nth-of-type(2) {
  height: 18px;
  background: #d1defb;
  border-radius: 4px 4px 0 0;
}
.measureSection__scaleItem:nth-of-type(3), .measureSection__scaleItem_active:nth-of-type(3) {
  height: 23px;
  background: #b7c8ed;
}
.measureSection__scaleItem:nth-of-type(4), .measureSection__scaleItem_active:nth-of-type(4) {
  height: 28px;
  background: #94aadc;
}
.measureSection__scaleItem:nth-of-type(5), .measureSection__scaleItem_active:nth-of-type(5) {
  height: 33px;
  background: #7593d6;
}
.measureSection__scaleItem:nth-of-type(6), .measureSection__scaleItem_active:nth-of-type(6) {
  height: 38px;
  background: #5878be;
}
.measureSection__scaleItem:nth-of-type(7), .measureSection__scaleItem_active:nth-of-type(7) {
  height: 43px;
  background: #3a5ca5;
}
.measureSection__scaleItem:nth-of-type(8), .measureSection__scaleItem_active:nth-of-type(8) {
  height: 48px;
  background: #254b9d;
}

.measureSection__scaleItem_active {
  transition: 0.4s ease-in 0.4s;
}
.measureSection__scaleItem_active:nth-of-type(2) {
  background: #f65a5a;
}
.measureSection__scaleItem_active:nth-of-type(3) {
  background: #ff784e;
}
.measureSection__scaleItem_active:nth-of-type(4) {
  background: #ffae4e;
}
.measureSection__scaleItem_active:nth-of-type(5) {
  background: #ffdf35;
}
.measureSection__scaleItem_active:nth-of-type(6) {
  background: #91e508;
}
.measureSection__scaleItem_active:nth-of-type(7) {
  background: #00d355;
}
.measureSection__scaleItem_active:nth-of-type(8) {
  background: #00b047;
}

.interactiveSection {
  position: relative;
  min-height: 164px;
}

.interactiveSection__scale {
  position: absolute;
  left: 23px;
  bottom: 0;
  width: 40px;
  height: 146px;
  background: url("/src/img/scale.png") no-repeat center/cover;
  box-shadow: 0 6px 6px -3px #080b3a;
}

.interactiveSection__scaleImg {
  position: relative;
  left: 4px;
  height: 100%;
  z-index: 100;
}

.interactiveSection__scaleLevel {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border-radius: 2px;
  background: #00d355;
  z-index: 10;
}
.interactiveSection__scaleLevel:before {
  content: "";
  position: absolute;
  width: 48px;
  height: 3px;
  top: 0;
  left: -7px;
  border-radius: 2px;
  background: #fff;
}

.interactiveSection__inner {
  width: 172px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.interactiveSection__btnImg, .interactiveSection__btnImg_active {
  width: 124px;
  height: 70px;
  margin-bottom: 10px;
  background: url("img/button.png") no-repeat center/contain;
  transition-delay: 0.2s;
}

.interactiveSection__btnImg_active {
  transition-delay: 0.4s;
  background: url("img/button_active.png") no-repeat center/contain;
}

.interactiveSection__text, .interactiveSection__text_onWIn {
  text-align: center;
}
.interactiveSection__text:last-of-type, .interactiveSection__text_onWIn:last-of-type {
  margin-bottom: 13px;
}

.interactiveSection__text_onWIn:first-of-type {
  margin-top: -10px;
}
.interactiveSection__text_onWIn:last-of-type {
  position: relative;
  width: 110%;
  margin-bottom: 23px;
}
.interactiveSection__text_onWIn:last-of-type:after {
  content: "Рубин";
  position: absolute;
  left: 50%;
  bottom: -16px;
  transform: translateX(-50%);
  color: #f00;
}

.interactiveSection__interactiveBtn, .interactiveSection__interactiveBtn_inactive, .interactiveSection__interactiveBtn_active {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
  background: #ff42e0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 6px 6px -3px #080b3a;
  transition: 0.4s;
}
.interactiveSection__interactiveBtn:hover, .interactiveSection__interactiveBtn_inactive:hover, .interactiveSection__interactiveBtn_active:hover {
  cursor: pointer;
  opacity: 0.8;
}

.interactiveSection__interactiveBtn_active {
  background: #ffdf35;
  color: #bb20a2;
}

.interactiveSection__interactiveBtn_inactive {
  display: none;
}

.interactiveSection__hammerImg, .interactiveSection__hammerImg_hit, .interactiveSection__hammerImg_active {
  width: 35%;
  position: absolute;
  top: -40px;
  right: 50px;
  transform: rotate(-45deg);
  transition: 0.4s ease-in;
}

.interactiveSection__hammerImg_active {
  top: -80px;
  right: 20px;
  transform: none;
}

.interactiveSection__hammerImg_hit {
  top: -60px;
  right: 85px;
  transform: rotate(-90deg);
}

.interactiveSection__robotImg, .interactiveSection__robotImg_onWin, .interactiveSection__robotImg_active {
  position: absolute;
  width: 70px;
  height: 85px;
  right: 13px;
  bottom: 0;
  background: url("img/robot_1.png") no-repeat center/contain;
}
.interactiveSection__robotImg:after, .interactiveSection__robotImg_onWin:after, .interactiveSection__robotImg_active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  box-shadow: 0 6px 6px -3px #080b3a;
}

.interactiveSection__robotImg_active {
  background: url("img/robot_2.png") no-repeat center/contain;
}

.interactiveSection__robotImg_onWin {
  width: 83px;
  right: 7px;
  background: url("img/robot_3.png") no-repeat center/contain;
}
.interactiveSection__robotImg_onWin:after {
  left: 6px;
  right: 6px;
}

/*# sourceMappingURL=index.css.map */
